/* navbar */

nav ul li a:hover{
    color: hsl(0, 94%, 66%)!important;
}

nav .nav-btn{
    background:hsl(0, 94%, 66%);
}

nav .nav-btn:hover{
    border-color: hsl(0, 94%, 66%) ;
    color: hsl(0, 94%, 66%) !important;
    background: white ;
}


/* body part-1 */

.body-part-1 .btn-1{
    background: hsl(231, 69%, 60%);
}

.body-part-1 #capsule{
    position: absolute;
    top: 50%;
    right: 0;
    overflow: hidden;
    background-color: hsl(231, 69%, 60%);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 350px;
    width: 600px;
    z-index: -1;
}

.body-part-1 .btn-1:hover{
    border-color: hsl(231, 69%, 60%) ;
    color: hsl(231, 69%, 60%) !important;
    background: white ;
}

.body-part-1 .btn-2:hover{
    border-color: black ;
    color: black !important;
    background: white ;
}

@media screen and (max-width: 390px){

    .body-part-1 .btn-1, .btn-2{
        font-size: 12px;
    }

    .body-part-1 .btn-2{
        font-size: 12px;
    }

    .body-part-1 #capsule{
        top: 35%;
        left: 20%;
        height: 200px;
        width: 300px;
    }

}

/* features */

/* tabs */
.features .btn-tab{
    background-color: hsl(231, 69%, 60%);
}

.features #capsule2{
    position: absolute;
    
    overflow: hidden;
    background-color: hsl(231, 69%, 60%);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 350px;
    width: 600px;
    z-index: -1;
}

.features .con-tab{

}

.features #capsule3{
    position: absolute;
    margin-top: 100px;
    left: 0%;
    overflow: hidden;
    background-color: hsl(231, 69%, 60%);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 320px;
    width: 500px;
    z-index: -1;
}

.features .tab-text{
    color: hsl(229, 31%, 21%) !important;
}

.features .tab-text:hover{
    color: hsl(0, 94%, 66%) !important;
}

.features .active{
    border-bottom: 4px solid hsl(0, 94%, 66%) !important;
}

.remove-active .active{
    border-bottom: 0px !important;
}


@media screen and (max-width: 390px){

    .features #capsule3{
        height: 180px;
        width: 300px;
        margin-top: 70px; 
    }

}

/* body part-2 */
.body-part-2 .con{
    margin-top: 150px;
}

.body-part-2 .bbddyy .d-btn{
    background:  hsl(231, 69%, 60%);
}

.body-part-2 .bbddyy .box-2{
    position: relative;
    top: 40px;
}

.body-part-2 .bbddyy .box-3{
    position: relative;
    top: 80px;
}